SECRET_KEY=django-insecure-prod-key-change-this-in-production-submission-portal-2026
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=Github_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

MAX_FILE_SIZE_MB=50
MEDIA_ROOT=

# Google Drive API Integration
GOOGLE_SERVICE_ACCOUNT_FILE=
GOOGLE_DRIVE_FOLDER_ID=
